django>=3.2,<4.0
## our production-grade webserver
gunicorn
## loading in environment variables
python-dotenv
# for formatting code
black
## for image file uploads in Django
pillow
## for leveraging 3rd party static/meida file servers
boto3
django-storages
## for mysql databases
mysqlclient 

## uncomment for postgresql databases
# psycopg2
## only uncomment if `psycopg2` doesn't install 
# psycopg2-binary 